* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  text-align: center;
  color: black;
  font-size: 3em;
}

/*Navbar styling*/
nav {
  display: flex;
  justify-content: center;
  background-color: brown;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

nav a {
  text-decoration: none;
  color: black;
}

/*index Page Styling*/
body.index {
  background-image: url(../images/coffeebackground.jpg);
}

#home-section {
  min-height: 50vh;
}

#home-logo {
  display: block;
  height: 50vh;
  margin: 0 auto;
  padding: 12vh 0;
}

/*Gallery Styling*/

#home-gallery-section {
  background-color: white;
}

#home-gallery-section p {
  margin: 0;
  padding: 2em;
}

/* Slideshow container */
.slideshow-container {
  width: 70vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
#dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*about Page Styling*/
body.about {
  background-image: url(../images/coffeebackground.jpg);
}

#introduction {
  margin: 1em auto 0 auto;
  width: 90%;
  padding: 0.5em;
  background-color: #aaaaaa90;
  border-radius: 10px;
}

.about h1 {
  color: white;
  text-align: left;
  margin: 0.2em 0;
}

/*More Info Styling*/

#more-info {
  padding: 0.2 1em;
  background-color: white;
}

#more-info article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0.5em 1em;
}

#more-info article img {
  max-width: 30%;
  display: inline-block;
}

#about-food {
  flex-direction: row-reverse;
}

/* Larger Device Styles */
@media (min-width: 769px) {
}
