@font-face {
  font-family: "rubik_mono_oneregular";
  src: url("../fonts/rubikmonoone-regular-webfont.woff2") format("woff2"),
    url("../fonts/rubikmonoone-regular-webfont.woff") format("woff"),
    url("../fonts/rubikmonoone-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "archivo_narrowregular";
  src: url("../fonts/archivonarrow-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/archivonarrow-variablefont_wght-webfont.woff") format("woff"),
    url("../fonts/archivonarrow-variablefont_wght-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color1: #a63f3d;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  font-family: "rubik_mono_oneregular", Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  color: white;
  font-size: 3em;
  padding-top: 0;
  margin: 0.2em 0;
}

h2 {
  font-family: "rubik_mono_oneregular", Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: var(--color1);
  margin: 0 auto;
}

h3 {
  font-family: "rubik_mono_oneregular", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

p {
  font-family: "archivo_narrowregular";
  max-width: 700px;
}

a {
  font-family: "rubik_mono_oneregular";
}

.heading-container {
  width: 100%;
  padding: 1em 0;
  background-color: #00000077;
}

/*Navbar styling*/
nav {
  background-color: var(--color1);
  height: 100vh;
  width: 0; /* 0 width - changes with JavaScript to open and close */
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  padding-top: 3.75em; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

nav a {
  padding: 8px 8px 8px 0;
  margin-left: 0;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

nav ul {
  padding: 0;
}

nav li {
  list-style-type: none;
  display: block;
  padding-left: 0.5em;
  padding-right: 2em;
  text-align: right;
}

#openbtn {
  position: absolute;
  top: 4px;
  right: 30px;
  font-size: 3em;
  color: var(--color1);
  text-decoration: none;
  transition: 0.3s;
}

nav #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3em;
  margin-left: 50px;
}

/*index Page Styling*/
body.index {
  background-image: url(../images/coffeebackground.jpg);
}

#home-section {
  min-height: 100vh;
  background-color: #00000077;
}

#home-logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
}

#index-bottom {
  padding: 5em 0;
  background-color: #f9f9f9;
}

/*Gallery Styling*/

#home-gallery-background {
  background-color: #00000077;
  min-height: fit-content;
}

#home-gallery-section {
  padding-top: 0.1em;
  background-color: #f9f9f9;
}

#home-gallery-section h1 {
  color: black;
  padding: 1em 0 0.5em 0;
}

#gallery-text {
  margin: 0 auto;
  width: 100%;
  padding: 3em 1em 1em 1em;
  max-width: 700px;
}

/* Slideshow container */
.slideshow-container {
  width: 70vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
#dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeImage,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#index-bottom-background {
  background-color: #00000077;
}

#extra-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: fit-content;
  width: 100%;
  background-color: #a63f3d;
}

#extra-info-text,
#extra-info-text h2 {
  color: white;
}

#image-container {
  aspect-ratio: 1/0.75;
  width: 100%;
  max-height: 576px;
  object-fit: cover; /* Crop the image to fill the container */
}

#extra-info-image {
  height: 100%;
  width: 100%;
  min-height: 400px;
  object-fit: cover; /* Crop the image to fill the container */
}

#extra-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: none;
  text-align: center;
  height: 220px;
  padding: 0 2em;
}

/*about Page Styling*/

body.about {
  background-image: url(../images/coffeebackground.jpg);
}

#introduction {
  margin: 1em auto;
  width: 80%;
  padding: 0.5em;
  border-radius: 10px;
}

.about h1 {
  color: white;
}

/*More Info Styling*/
#more-info-background {
  background-color: #00000077;
  min-height: 100vh;
}

#more-info {
  width: 100%;
  padding: 0.2 1em;
  background-color: #f9f9f9;
}

.about-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding: 2em 1em;
}

.about-image {
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  object-fit: contain;
  display: block;
}

.about-text {
  width: 100%;
  text-align: center;
}

.about-text h2 {
  padding-top: 0.5em;
}

.about-text p {
  text-align: left;
  margin-bottom: 0;
}

/*contact page styling*/
body.contact {
  background-image: url(../images/coffeebackground.jpg);
}

/* contact faq accordion styles - structure via https://www.freecodecamp.org/news/build-an-accordion-menu-using-html-css-and-javascript/ */

#faq {
  padding: 0 1em 0.1em 1em;
  background-color: #f9f9f9;
}

#faq h2 {
  max-width: 700px;
  padding: 1em 0 0.5em 0;
}

.spacer {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.question-container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.question-label::before {
  content: "+";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 1.75em;
}

.question-label h3 {
  width: 100%;
  display: inline-block;
  padding-left: 1em;
  color: var(--color1);
}

.question-label {
  border-radius: 10px;
  margin-top: 0;
  background-color: #e5e5e5;
  color: black;
  position: relative;
}

.answer-container {
  position: relative;
  background: #f5f5f5;
  height: 0;
  overflow: hidden;
}

.answer-container p {
  margin: 0;
  padding: 1em 1.5em;
}

.question-container.active .question-label::before {
  content: "-";
  top: 44%;
  right: 8px;
}

.question-container.active .question-label {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.question-container.active .answer-container {
  height: fit-content;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*contact info and form styling*/

#contact-background {
  background-color: #00000077;
  min-height: 100vh;
}

#contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

#contact-information {
  margin: 2em 1em 1em;
}

form {
  background-color: var(--color1);
  margin: 2em auto 1em;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

form h2 {
  text-align: center;
  padding-bottom: 0.5em;
  color: white;
}

label,
input,
textarea {
  width: 100%;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 10em;
}

label {
  display: inline-block;
  margin-top: 0.5em;
  color: white;
}
input,
textarea {
  display: block;
}

/*product page styling*/
body.products {
  background-image: url(../images/coffeebackground.jpg);
}

#products-background {
  background-color: #00000077;
  min-height: 100vh;
}

.product-section {
  margin: 0 auto;
  padding: 1em 0;
  background: #f9f9f9;
}

.product-section h2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
}

.product {
  margin: 0 auto;
  width: 80%;
  padding: 1em;
  text-align: center;
}

.product img {
  text-align: center;
  width: 100%;
}

.product-text {
  text-align: left;
}

/*menu page styling*/
body.menu {
  background-image: url(../images/coffeebackground.jpg);
}

#menu-background {
  background-color: #00000077;
}

#menu {
  padding-bottom: 2em;
  background: #f9f9f9;
}

.menu h2 {
  text-align: center;
  padding-top: 1em;
}

.menu ul {
  list-style: none;
}

.menu ul {
  padding: 0 1em;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item-text h3 {
  margin-bottom: 0.1em;
}

.item-text p {
  margin-top: 0.1em;
}

/* Larger Device Styles */
@media (min-width: 769px) {
  /*navbar styling*/
  nav {
    position: static;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    overflow-x: visible;
    padding-top: 0;
    transition: none;
  }

  nav a {
    color: white;
    padding: 0;
    font-size: 1em;
    transition: none;
  }

  nav li {
    display: inline-block;
  }

  #closebtn {
    display: none;
  }

  #openbtn {
    display: none;
  }

  /*General Styling*/
  .large-screen {
    max-width: 1600px;
    width: 60%;
    margin: 0 auto;
  }
  /*index page styling*/

  #home-logo {
    height: 70vh;
  }

  /* Slideshow container */
  .slideshow-container {
    min-width: 400px;
    width: 40%;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides img {
    width: 100%;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  #home-gallery-section {
    padding-top: 0.1em;
  }

  #index-bottom-background {
    padding-bottom: 2em;
  }

  #extra-info {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: fit-content;
    width: 90%;
    background-color: #a63f3d;
  }

  #image-container {
    aspect-ratio: 4/3;
    min-width: 300px;
    width: 100%;
    max-width: 100%;
    max-height: 556px;
    object-fit: cover; /* Crop the image to fill the container */
    flex: 2;
  }

  #extra-info-image {
    height: 100%; /* Fit the container height */
    width: 100%;
    min-height: 400px;
    object-fit: cover; /* Crop the image to fill the container */
    display: block;
  }

  #extra-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 200px;
    text-align: center;
    max-height: 300px;
    height: auto;
    padding: 0 2em;
  }

  /*about page styling*/

  #introduction {
    margin: 0 auto;
    width: 60%;
    max-width: 700px;
  }

  #more-info {
    width: 60%;
    padding: 2em 0;
  }

  .about-article {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
  }

  .about-image {
    margin-right: 1em;
    width: 250px;
    object-fit: contain;
    display: inline-block;
  }

  .about-text {
    text-align: left;
    min-width: 100px;
    flex: 1;
  }

  #about-food {
    flex-direction: row-reverse;
  }

  #about-food .about-image {
    margin-right: 0;
    margin-left: 1em;
  }

  /*contact page styling*/

  #faq {
    padding: 0 0 0.1em 0;
    background-color: #f9f9f9;
  }

  #contact-background {
    padding-bottom: 2em;
  }

  #contact-details {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  form {
    min-width: 200px;
    max-width: 300px;
    padding: 1em;
    margin: 2em 1em;
    width: 50%;
  }

  /*products page styling*/

  #products-background {
    padding-bottom: 2em;
  }

  .product-section {
    margin: 0 auto;
    padding: 1em 1em;
  }

  .product-section h2 {
    width: 100%;
  }

  .product {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
  }

  .product img {
    text-align: center;
    width: 30%;
    max-width: 500px;
  }

  .product-text {
    padding-left: 1em;
    text-align: left;
  }

  .product-text p {
    margin-bottom: 0;
  }

  /*menu page styling*/

  #menu-background {
    min-height: 100vh;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .menu-left-side,
  .menu-right-side {
    width: 60%;
  }

  .divider {
    background-color: black;
    padding: 0.2em 0.2em;
    margin: 4em 3em 1em 3em;
  }
}
